
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<div id="message" align="center">Simple vertical <strong>navigation</strong> thingy </div>


<div id="page-wrap" align="center">

		<div id="all">

				<ul>
						<li><a href="#">home</a></li>
						<li><a href="#" id="lulz">products</a></li>
						<li><a href="#">about us</a></li>
						<li><a href="#">contact</a></li>
				</ul>


		</div>

</div>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp


<div id="HjelmPatrik" align="center">
		<a href="https://twitter.com/HjelmPatrik" target="_blank" id="HjelmPatrik">A thing by <strong>@HjelmPatrik</strong></a>
</div>